@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNova-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font: normal normal normal 14px/17px ProximaNova;
    color: #22262A;
}

a{
    text-decoration: none;
    color: #000;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input, textarea, select{-webkit-appearance: none;}
mark {background-color: transparent;color:inherit;}
/* end reset */

.wrapper {
    width: 1170px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
}

//main nav arrow move when hover
@keyframes move-arrow-to-store{
    from  {
        .header__main-nav__arrow-guide i{
            left:14px;
        }
    }
        
    to  {
        .header__main-nav__arrow-guide i{
            left:115px;
        }
    }
   
}


//
// end of header styles
//

.breadcrumbs{
    background: #F6F7F8;
    margin-bottom: 60px;
    &__nav{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 17px 0;
        font-weight: 600;

        ul{
            display: flex;
        }
    }
    &__tab{
        list-style-type: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
            color: #33A0FF;
        }

        &:not(:last-child)::after{
            content: '/';
            padding: 0 10px;
            color: #C1C8CE;
        }

        &--active{
            a{
                color: #22262A;
            }
        }
    }
}

.bottom2{
    background: #2E90E5;
    // overflow: hidden;
    color: #fff;

    .wrapper{
        height: 600px;
    }

    &__content{
        width: 400px;
        max-width: 100%;
        padding-top: 145px;
    }

    &__product{
        font-weight: 300px;
        line-height: 81px;
        font-size: 66px;
        margin-bottom: 30px;
    }

    &__description{
        line-height: 43px;
        font-size: 24px;
        margin-bottom: 54px;
    }

    &__button{
        font-weight: bold;
        border-bottom: 3px solid #fff;
        text-transform: uppercase;
        padding: 9px 0;
        color: #fff;
    }

    &__image{
        position: absolute;
        right: -35px;
        top: -90px;
    }
}

.bottom3{
    position: relative;
    z-index: 1;
    background: white;
    padding: 90px 0 70px;

    &__box{
        text-align: center;
        margin: 0 35px 30px;
    }

    &__title{
        font-weight: 600;
        line-height: 43px;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__icon{
        display: block;
        text-align: center;
        margin: 0 auto 30px;
    }
    
    &__content{
        line-height: 24px;
    }
}

.bottom4{
    margin-bottom: 141px;
    & > .wrapper{
        flex-direction: column;
    }

    &__title{
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        padding: 71px 0 63px;
        text-align: center;
    }

    &__news{
        display: flex;

        &--upper,  &--lower{
            padding-bottom: 70px;
        }

        &__image{
            margin-right: 20px;
        }

        &__box{
            display: flex;
            align-items: center;
            padding: 0 20px;
            width: 390px;
            max-width: 100%;

            img{
                width: 160px;
                height: auto;
            }
        }

        &__date{
            color: #C1C8CE;
            display: block;
        }

        &__title{
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0;
            line-height: 22px;
            
            &--font{
                font-size: 14px;
                line-height: 17px;
            }
        }

        &__content{
            line-height: 24px;
        }

        &--lower{
            .bottom4__news__title{
                font-weight: 600;
                margin-bottom: 13px;
            }
            .fas{
                color: #FFC600;
                &:last-of-type{
                    color: #C1C8CE;
                    margin-bottom: 13px;
                }
            }

            .bottom1__card__price{
                &:first-child{
                    padding-left: 0;
                }
            }
        }
    }

    &__search{
        text-align: center;
        font-size: 0;
        padding: 70px 0 0;
        display: flex;
        justify-content: center;
 
        input[type='text']{
            width: 480px;
            max-width: 100%;
            padding: 22px 0 22px 20px;
            border: 2px solid #F6F7F8;
            font-weight: 600;
            color: #262626;
            font: inherit;
            border-radius: 4px 0 0 4px;
            display: inline-block;
            font-size: 17px;
            height: 60px;
        }
    }

    &__btn{
        background: #2E90E5;
        padding: 22px 43px 22px 20px;
        border-radius: 0 4px 4px 0;
        color: #fff;
        width: 120px;
        max-width: 100%;
        display: inline-block;
        font-size: 17px;
        height: 60px;
        border: 2px solid #2E90E5;

        &:hover{
            background: #fff;
            color: #2E90E5;
        }
    }
}

/* footer.scss merged. *start* */
.footer {

    h5{
        font-size: 18px;
        line-height: 28px;
        font-weight: bold;
        padding: 25px 0;

        i{
            display: none;
        }
    }
    &__top-outer-container{
        border-top: 3px solid #F6F7F8;
        margin-top:20px;
        padding: 35px 0 0;
    }
    &__top{
        display: flex;
        border-bottom: 3px solid #F6F7F8;
        line-height: 20px;
        font-size: 12px;
        padding-bottom: 68px;
        justify-content: space-between;

        &--title{
            font-size: 32px;
            line-height: 39px;
            font-weight: bold;
            opacity: 40%;
            padding-bottom: 40px;
        }

        &>div{
            max-width: 269px;
            width: 100%;
            flex: 0 0 33.33%;
            
        }
        &--brand-description{
        }
        &--social-media{
            div{
                i{
                    padding: 30px 25px 0 0;
                }
                .fa-facebook-f{
                    color: #4267B2;
                }
                .fa-twitter{
                    color: #1DA1F2;
                }
            }
        }
        &--contact-us{
            margin: 0 120px 0 0;
        }
    }
    &__middle{
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0 0;
        &--site-map{
            flex:1;
            ul{
                li{
                    line-height: 220%;;
                    list-style: none;
                }
            }
        }
    }
    &__bottom-outer-container{
        border-top: 3px solid #F6F7F8;
    }
    &__bottom{
        display:flex;
        flex-wrap: wrap;
        padding: 10px 0;
        span{
            opacity: 50%;
            padding: 20px 0;
        }
        &--fund-transfers{
            margin-left: auto;
            
            img{
                padding: 10px 8px;
            }
        }
    }
}